.container {
    display: flex;
    max-width: 95vw;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
  }
  
  #addProfessorButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
  }
  
  #addProfessorButton:hover {
    background-color: #0056b3;
  }
  
  .professor-list {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .professor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.2s ease;
    width: 95%;
  }
  
  .professor:hover {
    background-color: #f5f5f5;
  }
  
  .professor div {
    flex: 1;
  }
  
  .professor strong {
    font-weight: bold;
    color: #333;
  }
  
  .professor button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .professor button:hover {
    background-color: #0056b3;
  }
  #updateProfessorButton{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  #updateProfessorButton:hover{
    background-color: #0056b3;
  }