.container {
    display: flex;
    max-width: 95vw;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    
  }
  
  .classes {
    margin-bottom: 20px;
  }
  
  .classes h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .classes ul {
    list-style: none;
    padding: 0;
  }
  
  .classes li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  #addStudentButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
  }
  
  #addStudentButton:hover {
    background-color: #0056b3;
  }
  
  .student-list {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .student {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.2s ease;
    
    width: 95%;
  }
  
  .student:hover {
    background-color: #f5f5f5;
  }
  
  .student div {
    flex: 1;
  }
  
  .student strong {
    font-weight: bold;
    color: #333;
  }
  
  .student button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
    margin-left :10px; 
    margin-bottom: 5px;
    
  }
  
  .student button:hover {
    background-color: #0056b3;
  }
  #updateStudentButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  #updateStudentButton:hover {
    background-color: #0056b3;
  } 